{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block title %}
Admissions database - {{ team.college.name }} schedule editor
{% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href='{% static "js/DataTables-1.10.2/media/css/jquery.dataTables.min.css" %}'>
<link rel="stylesheet" href='{% static "js/DataTables-1.10.2/extensions/ColVis/css/dataTables.colVis.min.css" %}'>
<link rel="stylesheet" href='{% static "js/DataTables-1.10.2/extensions/TableTools/css/dataTables.tableTools.min.css" %}'>
<!--  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
<link rel="stylesheet" href='{% static "js/jquery-ui-1.11.4.custom/jquery-ui.min.css" %}'></script>
<script src='{% static "js/jquery-1.11.1.min.js" %}'></script>
<script src='{% static "js/DataTables-1.10.2/media/js/jquery.dataTables.min.js" %}'></script>
<script src='{% static "js/DataTables-1.10.2/extensions/ColVis/js/dataTables.colVis.min.js" %}'></script>
<script src='{% static "js/DataTables-1.10.2/extensions/TableTools/js/dataTables.tableTools.min.js" %}'></script>
<script src='{% static "js/jquery-cookie-1.4.1/jquery.cookie.js" %}'></script>
<!--  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
<script src='{% static "js/jquery-ui-1.11.4.custom/jquery-ui.min.js" %}'></script>

<style>
table#teamspec { font-size: 16px; text-align: left }

td.comments-detail {
  color: blue;
  cursor: pointer;
}

td.clash {
  color: red;
}

.comments { text-align: left }

input.change-duration { width: 3em }

input.change-start { width: 4em }

input.dpicker { width: 6em }

</style>
{% endblock %}
{% block content %}
<h2>Schedule editor for {{ team.college.name }} ({{ team.college.adss_code }})</h2>

<p>
<table id="teamspec" cellpadding="3">
<tr>
  <td>Team:</td>
  <td>{{ team.names }}</td>
</tr>
<tr>
  <td>Location:</td>
  <td>{{ team.location }}</td>
</tr>
<tr>
  <td>Notes:</td>
  <td>{{ team.notes }}</td>
</tr>
</table>
</p>

<p>
<table cellspacing="0" cellpadding="3" border="1">
<tr>
  <th>Selections</th>
  <th>Schedule Actions</th>
  <th>Candidate Actions</th>
</tr>
<tr>
  <td><button type='button' id='physicsbutton' onclick='set_physics()'>Physics interviews</button></td>
  <td><button type='button' id='clearbutton' onclick='clear_schedule()'>Clear schedule</button></td>
  <td><button type='button' id='rotatebutton' onclick='rotate_candidates_up()'>Rotate selected up</button</td>
</tr>
<tr>
  <td><button type='button' id='philosophybutton' onclick='set_philosophy()'>Philosophy interviews</button></td>
  <td><button type='button' id='clearbutton' onclick='clear_blanks()'>Clear inputs</button></td>
  <td><button type='button' id='rotatebutton' onclick='rotate_candidates_down()'>Rotate selected down</button</td>
</tr>
<tr>
  <td><button type='button' id='reversebutton' onclick='reverse_selection()'>Reverse selection</button></td>
  <td><button type='button' id='clearbutton' onclick='infer_blanks()'>Infer inputs</button></td>
  <td><button type='button' id='shufflebutton' onclick='shuffle_candidates()'>Shuffle selected</button</td>
</tr>
<tr>
  <td></td>
  <td><button type='button' id='recalcbutton' onclick='recalculate()'>Recalculate schedule</button></td>
  <td><button type='button' id='savebutton' class='statebutton' disabled=true onclick='save_schedule()'>Save schedule (all)</button></td>
</tr>
</table>
</p>

<p>To leave schedule unchanged, leave this page without saving.</p>

<p>
<table cellspacing="0" cellpadding="3" border="1">
<tr>
  <th>Schedule Defaults</th>
  <th>(minutes)</th>
</tr>
<tr>
  <td>Interview duration</td>
  <td><input type="number" id="interviewduration" style="width:5em"></td>
</tr>
<tr>
  <td>Break duration</td>
  <td><input type="number" id="breakduration" style="width:5em"></td>
</tr>
</table>
</p>

<p>
<table id="slots" class="display compact" cellspacing="0" cellpadding="0" width="100%">
<thead>
  <tr>
    <th></th>
    <th colspan="3" align="left">Change</th>
    <th colspan="2" align="left">Current schedule</th>
    <th colspan="7" align="left">Candidate</th>
    <th></th>
  </tr>
  <tr>
    <th><input type='checkbox' id='arsel' onchange='all_select()'></th>
    <th>Date</th>
    <th>Time</th>
    <th>Duration</th>
    <th>Start</th>
    <th>End</th>
    <th>Type</th>
    <th>Subject</th>
    <th>Course</th>
    <th>Col1</th>
    <th>Name</th>
    <th>Notes</th>
    <th>Other interviews</th>
    <th>Index</th>
  </tr>
</thead>
<tfoot>
  <tr>
    <th></th>
    <th>Date</th>
    <th>Time</th>
    <th>Duration</th>
    <th>Start</th>
    <th>End</th>
    <th>Type</th>
    <th>Subject</th>
    <th>Course</th>
    <th>Col1</th>
    <th>Name</th>
    <th>Notes</th>
    <th>Other interviews</th>
    <th>Index</th>
  </tr>
</tfoot>
</table>
</p>

<p>
<a href="{% url 'admissions:view_schedule' college_code=team.college.adss_code|lower %}">[Return to college interview schedule]</a>
</p>
{% endblock %}

{% block scripts %}
<script>
// template entries:  team, students, slots
var students = {};
{% for student in students %}
students[{{ student.pk }}] = {
  "n": "{{ student.info.surname }}, {{ student.info.forenames }}",
  "course": "{{ student.course_type }}",
  "col1": "{{ student.college1.adss_code }}",
  "other": [],
  "spec": "{{ student.info.has_special_needs }}",
  "dcode": "{{ student.info.disability_code }}",
  "dis": "{{ student.info.disability_notes }}",
  "comments": [],
};
{% endfor %}

{% for comment in comments %}
students[{{ comment.candidate.pk }}]['comments'].push(
    { "who": "{{ comment.commenter.username }}", "t": "{{ comment.text }}" })
{% endfor %}

{% for slot in slots %}
  {% if slot.team.pk == team.pk %}
students[{{ slot.candidate.pk }}]["s"] = {
    "subject": "{{ slot.subject }}",
    "mode": "{{ slot.mode }}",
    "datetime": {{ slot.time|date:"U" }},
    "duration": {{ slot.length }},
  };
  {% else %}
students[{{ slot.candidate.pk }}]["other"].push({
    "tpk": {{ slot.team.pk }},
    "tcol": "{{ slot.team.college.adss_code }}",
    "mode": "{{ slot.mode }}",
    "datetime": {{ slot.time|date:"U" }},
    "duration": {{ slot.length }},
  });
  {% endif %}
{% endfor %}

var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];

var PKI = 13; // last column number

function twoDigit(n) {
  var s = (n < 10 ? "0" : "");
  return s + n;
}

function formatDate(d) {
  return twoDigit(d.getDate()) + " " + months[d.getMonth()];
}

function formatTime(d) {
  //return d.toLocaleTimeString();
  return twoDigit(d.getHours()) + ":" + twoDigit(d.getMinutes());
}

function format_comments(pk, jrow) {
  var s = [];
  var d = students[pk];
  var c = d.comments;
  s.push('<p><ul class="comments">');
  s.push("<li><b>UCAS disability information</b><br>(" + d.dcode + ") " + d.dis);
  for (var i = 0; i < c.length; ++i) {
    s.push("<li><b>" + c[i].who + "</b><br>" +
           c[i].t.replace('&#10;','<br>').replace('\n','<br>').replace('\r',''));
  }
  s.push('</ul></p>');
  return s.join('');
}

function all_select() {
  //console.log("all_select " + $('#arsel').prop('checked'));
  var value = $('#arsel').prop('checked');
  $('.rsel').prop('checked', value);
}

function reverse_selection() {
  $('.rsel').prop('checked', function(i, val) { return !val; });
}

function set_physics() {
  $('.isubjects').val("1"); // change all to physics interviews
  $('.imodes').val(function(i, old) { return old == "0" ? "L" : old }).change();
  $('.rsel').prop('checked', true);
  enable_save();
}

function set_philosophy() {
  $('.rsel').each(function(i, e) {
    var row = $(this).parents('tr');
    var course = row.children('.course-type').text();
    if (course == "P" || course == "Q") {
      $(this).prop('checked', true);
      $('.imodes', row).val(function(i, old) { return old == "0" ? "L" : old });
      $('.isubjects', row).val("2");
    } else {
      $(this).prop('checked', false);
      $('.imodes', row).val("0");
    }
  });
  enable_save();
}

function clear_schedule() {
  var checked = $('.rsel:checked').parents('tr');
  var tab = $('#slots').DataTable();
  var rs = get_candidate_data(tab, checked);
  checked.each(function(i, e) {
    var r = tab.row(e);
    tab.cell(r, 4).data("");
    tab.cell(r, 5).data("");
  });
  map = [];
  for (var i = 0; i < checked.length; ++i) map.push(i);
  set_candidate_data(tab, checked, rs, map);
  enable_save();
}

function clear_blanks() {
  $('.rsel:checked').parents('tr')
                    .children('td')
                    .children('[type=text],[type=number]')
                    .val("");
}

function infer_blanks() {
  var checked = $('.rsel:checked').parents('tr');
  var tab = $('#slots').DataTable();
  var rs = [];
  var dts = []; // array of durations
  var dtbs = []; // array of break durations
  var tlast = 0;
  var dt0 = 0; // default duration
  var dtb0 = 0; // default break duration
  // the following construct gives rows in order
  tab.rows(checked).eq(0).sort().each(function(index) {
    console.log(index);
    var r = tab.row(index);
    //console.log(tab.cell(r, 10).data());
    var t0 = tab.cell(r, 4).data(); // seconds
    var t1 = tab.cell(r, 5).data();
    if (t0 != "" && t1 != "") {
      var dt = t1 - t0;
      if (dt >= 0 && dt < 7200) dts.push(dt);
      var dtb = t0 - tlast;
      if (dtb >= 0 && dtb < 7200) dtbs.push(dtb);
      var sdt = new Date(t0 * 1000);
      var rd = [];
      rd.push(t0);
      rd.push(t1);
      rd.push(sdt);
      rs.push(rd);
      tlast = t0;
    } else if (t0 == "" && tlast == 0) {
      // no starting time - should display a message
      alert("Need to specify a start date/time.");
      return false;
    }
    if (dts.length > 0) {
      var im = dts.length / 2;
      dt0 = dts[im];
    } else {
      alert("No typical (<2 hours) interviews defined.");
      return false;
    }
    if (dtbs.length > 0) {
      var imb = dtbs.length / 2;
      dtb0 = dtbs[imb];
    } else {
      dtb0 = 0; // no default break; assume simply not specified
    }
    $('#interviewduration').val(dt0);
    $('#breakduration').val(dtb0);
  });
  tab.rows(checked).eq(0).sort().each(function(index) {
    // recalculate schedule in here.
    // schedule should start with the first date and time
  });
}

// from http://www.timlabonne.com/2013/07/parsing-a-time-string-with-javascript/
// understands 1pm, 1:00pm, 1:00p, 13:00.  Returns NaN if can't parse at all.
function parseTime(timeStr, dt) {
    if (!dt) {
        dt = new Date();
    }
 
    var time = timeStr.match(/(\d+)(?::(\d\d))?\s*(p?)/i);
    if (!time) {
        return NaN;
    }
    var hours = parseInt(time[1], 10);
    if (hours == 12 && !time[3]) {
        hours = 0;
    }
    else {
        hours += (hours < 12 && time[3]) ? 12 : 0;
    }
 
    dt.setHours(hours);
    dt.setMinutes(parseInt(time[2], 10) || 0);
    dt.setSeconds(0, 0);
    return dt;
}

function recalculate() {
  // check if there's a default duration and break
  var default_duration = $('#interviewduration').val();
  if (default_duration == "" || default_duration <= 0) {
    alert("Invalid default duration.");
    return;
  }
  var default_break = $('#breakduration').val();
  if (default_break == "" || default_break <= 0) default_break = 0;
  var checked = $('.rsel:checked');
  var checkedrows = checked.parents('tr');
  var tab = $('#slots').DataTable();
  var current_time = new Date(2015, 11, 15, 9, 0, 0, 0);
  var early_hours = 9;
  var early_minutes = 0;
  var rs = get_candidate_data(tab, checkedrows); // save blanks
  checked.each(function(i, cb) {
    var e = $(cb).parents('tr');
    var r = tab.row(e);
    // check if we should schedule an interview
    var mode = $('.imodes', e).val();
    if (mode == "0") return; // skip if no interview
    // check if first entry has a starting time
    //var dp = $('.dpicker', e).prop('value');
    var dp = $('.dpicker', e).datepicker('getDate');
    var t0 = $('.change-start', e).prop('value');
    var dt = $('.change-duration', e).prop('value');
    if (dp != null && (dp.getDate() != current_time.getDate() ||
                       dp.getMonth() != current_time.getMonth() ||
                       dp.getFullYear() != current_time.getFullYear())) {
      current_time = dp;
      if (t0 != "") {
        // set explicit time as well
        var saved_time = current_time.getTime();
        current_time = parseTime(t0, current_time);
        if (isNaN(current_time)) {
          current_time = new Date(saved_time);
          current_time.setHours(early_hours);
          current_time.setMinutes(early_minutes);
        } else {
          early_hours = current_time.getHours();
          early_minutes = current_time.getMinutes();
        }
      } else {
        // use early time set before (or default)
        current_time.setHours(early_hours);
        current_time.setMinutes(early_minutes);
      }
    } else if (t0 != "") {
      // same day, but explicit time
      var saved_time = current_time.getTime();
      current_time = parseTime(t0, current_time);
      if (isNaN(current_time)) current_time = new Date(saved_time);
    }
    if (dt == "") dt = default_duration;
    var stop_time = new Date(current_time.getTime() + dt * 1000 * 60);
    tab.cell(r, 4).data(current_time.getTime() / 1000); // start date/time
    tab.cell(r, 5).data(stop_time.getTime() / 1000); // stop time
    current_time = new Date(stop_time.getTime() + default_break * 1000 * 60);
    // re-attach datepicker
    //$('.dpicker', e).datepicker();
  });
  map = [];
  for (var i = 0; i < checkedrows.length; ++i) map.push(i);
  set_candidate_data(tab, checkedrows, rs, map);
  enable_save();
}

function save_schedule() {
  var rs = [];
  var tab = $('#slots').DataTable();
  tab.rows().eq(0).each(function(index) {
    var r = tab.row(index);
    var e = r.node();
    // mode
    var mode = $('.imodes', e).val();
    if (mode == "0") return; // skip if no interview
    // time
    var t0 = tab.cell(r, 4).data();
    var t1 = tab.cell(r, 5).data();
    if (t0 == "" || t1 == "") return; // skip if no scheduled times
    var rd = { "t":t0, "e":t1, "mode":mode,
               "subject": $('.isubjects', e).val(),
               "cpk": tab.cell(r, PKI).data() };
    rs.push(rd);
  });
  console.log(JSON.stringify(rs));
  $.post("{% url 'admissions:edit_schedule' team_pk=team.pk %}", JSON.stringify(rs));
  disable_save();
}

function copy(o) {
   var out, v, key;
   out = Array.isArray(o) ? [] : {};
   for (key in o) {
       v = o[key];
       out[key] = (typeof v === "object") ? copy(v) : v;
   }
   return out;
}

function get_candidate_data(tab, rows) {
  rs = [];
  rows.each(function(i, e) {
    var r = tab.row(e);
    var data = r.data();
    var d = [];
    for (var ic = 8; ic <= PKI; ++ic) d[ic] = data[ic];
    d[0] = $('.rsel', e).prop('checked');
    d[1] = $('.dpicker', e).prop('value');
    d[PKI+1] = $('.change-start', e).prop('value');
    d[2] = $('.change-duration', e).prop('value');
    d[3] = $('.imodes', e).val();
    d[4] = $('.isubjects', e).val();
    d[5] = $('.dpicker', e).attr('id');
    rs[i] = d;
    //console.log("get candidate data for row " + i);
  });
  return rs;
}

function set_candidate_data(tab, rows, data, map) {
  rows.each(function(i, e) {
    var r = tab.row(e);
    for (var ic = 8; ic <= PKI; ++ic) tab.cell(r, ic).data(data[map[i]][ic]);
    $('.imodes', e).val(data[map[i]][3]);
    $('.isubjects', e).val(data[map[i]][4]);
    $('.rsel', e).prop('checked', data[i][0]);
    $('.dpicker', e).prop('value', data[i][1]);
    $('.change-start', e).prop('value', data[i][PKI+1]);
    $('.change-duration', e).prop('value', data[i][2]);
    $('#'+data[i][5]).datepicker();
  });
}

function rotate_candidates_up() {
  // for some reason parents() reverses order given by initial selector
  var checked = $('.rsel:checked').parents('tr');
  if (checked.length < 2) return;
  var tab = $('#slots').DataTable();
  rs = get_candidate_data(tab, checked);
  map = [];
  map[0] = checked.length - 1;
  for (var i = 0; i < checked.length - 1; ++i) map.push(i);
  set_candidate_data(tab, checked, rs, map);
}

function rotate_candidates_down() {
  var checked = $('.rsel:checked').parents('tr');
  if (checked.length < 2) return;
  var tab = $('#slots').DataTable();
  rs = get_candidate_data(tab, checked);
  map = [];
  for (var i = 1; i < checked.length; ++i) map.push(i);
  map[checked.length - 1] = 0;
  set_candidate_data(tab, checked, rs, map);
}

/**
 * Randomize array element order in-place.
 * Using Durstenfeld shuffle algorithm.
 * (from http://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array)
 */
function shuffleArray(array) {
  for (var i = array.length - 1; i > 0; i--) {
    var j = Math.floor(Math.random() * (i + 1));
    var temp = array[i];
    array[i] = array[j];
    array[j] = temp;
  }
  return array;
}

// problem:  shuffles among all.
function shuffle_candidates() {
  var checked = $('.rsel:checked').parents('tr');
  if (checked.length < 2) return;
  var tab = $('#slots').DataTable();
  rs = get_candidate_data(tab, checked);
  // shuffle
  map = [];
  for (var i = checked.length - 1; i >= 0; --i) map[i] = i;
  shuffleArray(map);
  set_candidate_data(tab, checked, rs, map);
}

//
// datepicker ui
//

$.datepicker.setDefaults({
  "dateFormat": "dd/mm/yy",
  "minDate": new Date(2015, 11, 1), // 1 Dec
  "maxDate": new Date(2015, 11, 17), // 17 Dec
});

function render_rselection(data, type, row, meta) {
  if (type = "display") {
    return '<input type="checkbox" class="rsel">';
  } else {
    return data;
  }
}

function render_change_date(data, type, row, meta) {
  if (type == "display") {
    return '<input id="datepicker' + meta.row + '" class="dpicker" type="text">';
  } else {
    return data;
  }
}

function render_change_start(data, type, row, meta) {
  if (type == "display") {
    return '<input type="text" class="change-start">';
  } else {
    return data;
  }
}

function render_change_duration(data, type, row, meta) {
  if (type == "display") {
    return '<input type="number" class="change-duration">';
  } else {
    return data;
  }
}

function render_start(data, type, row, meta) {
  if (type == "display" && data != "") {
    var a = new Date(data * 1000);
    return formatDate(a) + " " + formatTime(a);
  } else {
    return data;
  }
}

function render_end(data, type, row, meta) {
  if (type == "display" && data != "") {
    var a = new Date(data * 1000);
    return formatTime(a);
  } else {
    return data;
  }
}

function render_mode(data, type, row, meta) {
  if (type === "display") {
    var td = [];
    td.push('<select class="imodes" onchange="enable_save()"><option value="0"');
    if (data == "") td.push(' selected="selected"');
    td.push('>no interview</option><option value="L"');
    if (data == "L") td.push(' selected="selected"');
    td.push('>local</option><option value="R"');
    if (data == "R") td.push(' selected="selected"');
    td.push('>remote</option></select>');
    return td.join('');
  } else {
    return data;
  }
}

function render_subject(data, type, row, meta) {
  if (type === "display") {
    var td = [];
    td.push('<select class="isubjects" onchange="enable_save()"><option value="1"');
    if (data != "2") td.push(' selected="selected"');
    td.push('>physics</option><option value="2"');
    if (data == "2") td.push(' selected="selected"');
    td.push('>philosophy</option></select>');
    return td.join('');
  } else {
    return data;
  }
}

function render_other(data, type, row, meta) {
  if (type === "display") {
    if (data.length == 0) return "";
    var s = [];
    for (var i = 0; i < data.length; ++i) {
      var u = data[i];
      var a = new Date(u.datetime * 1000);
      s.push((u.mode != "local" ? "("+u.mode+") " : "") +
             u.tcol + " " + formatDate(a) + " " + formatTime(a));
    }
    return s.join("; ");
  } else {
    if (data.length > 0) return data.datetime;
    else return "";
  }
}

/* below function from DataTables documentation */
/* Create an array with the values of all the select options in a column */
$.fn.dataTable.ext.order['dom-select'] = function  ( settings, col )
{
    return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
        return $('select', td).val();
    } );
}

function is_clash(a, b, pad) {
  var t0 = b.datetime - pad * 60;
  var t1 = b.datetime + (b.duration + pad) * 60;
  var u0 = a.datetime;
  var u1 = a.datetime + a.duration * 60;
  if (u0 >= t0 && u0 < t1) return true;
  if (u1 >= t0 && u1 < t1) return true;
  if (u0 < t0 && u1 >= t1) return true;
  return false;
}

function any_clash(a, bs, pad) {
  for (var i = 0; i < bs.length; ++i) if (is_clash(a, bs[i], pad)) return true;
  return false;
}

function enable_save() {
  $('.statebutton').removeAttr('disabled');
}

function disable_save() {
  $('.statebutton').attr('disabled','disabled');
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

var csrftoken = $.cookie('csrftoken');
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
//"csrfmiddlewaretoken" is a key in your posted data,for example,
//when you need to ajax login,your posted data may like this:
// {'username':'username','password':'password',
//  'csrfmiddlewaretoken':'CSRF-TOKEN-V‌​ALUE'} – 

var dataset = [];
$.each(students, function(pk, v) {
  var fields = [];
  fields[0] = ""; // row selector checkboxes
  fields[1] = ""; // start date selector
  fields[2] = ""; // start time selector
  fields[3] = ""; // duration selector
  fields[4] = ""; // empty start time
  fields[5] = ""; // empty end time
  fields[6] = ""; // mode / interview type
  fields[7] = ""; // subject of interview
  if (v['s'] != undefined) {
    var a = new Date(v.s.datetime * 1000);
    var b = new Date((v.s.datetime + v.s.duration*60) * 1000);
    fields[4] = v.s.datetime;
    fields[5] = v.s.datetime + v.s.duration*60;
    fields[6] = v.s.mode == 'local' ? 'L' : 'R'; // should be a selector
    fields[7] = v.s.subject == 'physics' ? '1' : '2'; // should be a selector
  }
  fields[8] = v.course;
  fields[9] = v.col1;
  fields[10] = v.n;
  fields[11] = v.dcode == 'A' && v.comments.length == 0 ? '' : 'notes'; // disability or notes
  // other interviews in v.other
  //var s = [];
  //for (var i = 0; i < v.other.length; ++i) {
  //  var u = v.other[i];
  //  var a = new Date(u.datetime * 1000);
  //  s.push((u.mode != "local" ? "("+u.mode+") " : " ") +
  //         u.tcol + " " + formatDate(a) + " " + formatTime(a));
  //}
  //fields[12] = s.join('; ');
  fields[12] = (v['other'] != undefined) ? v.other : [];
  //console.log(fields[12]);
  fields[13] = pk;
  //console.log(fields);
  dataset.push(fields);
});
//console.log(dataset);

$(document).ready(function() {

  //console.log(dataset);

  // dom:  T for TableTools, and C... for ColVis
  var spec = {
    //dom: 'T<"clear">lfrtip', // add an R to use colReorder
    data: dataset,
    columns: [
      { name: "rselection", orderable: false, "render": render_rselection }, // row selection checkboxes
      { name: "changedate", orderable: false, "class": "datepickers", "render": render_change_date },
      { name: "changestart", orderable: false, "render": render_change_start },
      { name: "changeduration", orderable: false, "render": render_change_duration },
      { name: "start", "render": render_start },
      { name: "end", "render": render_end },
      { name: "mode", "orderDataType": "dom-select", "class": "mode-selector c-data", "render": render_mode },
      { name: "subject", "orderDataType": "dom-select", "class": "subject-selector c-data", "render": render_subject },
      { name: "course", "class": "course-type c-data" },
      { name: "col1", "class": "c-data" },
      { name: "name", "class": "c-data" },
      { name: "notes", "class": "comments-detail c-data" },
      { name: "other", "render": render_other, "class": "c-data", "defaultContent": "None" },
      { name: "pk", "class": "pk-value c-data", visible: false },
    ],
    "order": [ [ 4, "asc" ] ],
    "statesave": true,
    "paging": false
  };
  table = $('#slots').DataTable(spec);

  $('#slots tbody').on('click', 'td.comments-detail', function() {
    var tr = $(this).closest('tr');
    var row = table.row(tr);
    if (row.child.isShown()) {
      row.child.hide();
      //tr.removeClass('shown-comments');
    } else {
      var child = row.child(format_comments(row.data()[PKI], row.index()) );
      child.show();
      //tr.addClass('shown-comments');
    }
  });
  //.on('click', 'td.subject-selector', function() {
  //  //console.log($('.isubjects', this).val());
  //  var rows = [ $(this).closest('tr') ];
  //  var saved = get_candidate_data(table, rows);
  //  //table.cell($(this)).data($('.isubjects', this).val());
  //  saved[0][7] = $('.isubjects', this).val();
  //  set_candidate_data(table, rows, saved, [0]);
  //  enable_save();
  //})
  //.on('click', 'td.mode-selector', function() {
  //  //console.log($('.imodes', this).val());
  //  var rows = [ $(this).closest('tr') ];
  //  var saved = get_candidate_data(table, rows);
  //  saved[0][6] = $('.imodes', this).val();
  //  //table.cell($(this)).data($('.imodes', this).val());
  //  set_candidate_data(table, rows, saved, [0]);
  //  enable_save();
  //});
  //.on('click', 'tr', function() {
  //  $(this).toggleClass('selected');
    // clicking on anything in the row flips the class
    // (and whatever the class name is).
    // This introduces some weird behavior, but at least
    // the visual style of a selected row does reflect the selection state.
  //});

  // start date is set here.  Rotation/shuffle changes from start date
  // to value, which is a change in behavior.
  table.$('.datepickers').each(function(i) {
    var nm = "#datepicker" + i;
    $(nm).datepicker();
  });

/*
  // insert initial changeable states
  table.$('.mode-selector').each(function(i, e) {
    var tr = $(e).closest('tr');
    var row = table.row(tr);
    var pk = row.data()[12];
    //console.log("Candidate " + pk + " mode " + students[pk].s.mode);
    if (students[pk] == undefined) {
      $("select", e).val('0');
      //console.log("no such pk");
    } else {
      if ('s' in students[pk]) {
        $("select", e).val(students[pk].s.mode == 'local' ? 'L' : 'R');
      } else {
        //console.log("no interview");
      }
    }
  });
*/

/*
  table.$('.subject-selector').each(function(i, e) {
    var tr = $(e).closest('tr');
    var row = table.row(tr);
    var pk = row.data()[12];
    if (students[pk] == undefined) {
      $("select", e).val('1');
    } else {
      if ('s' in students[pk]) {
        $("select", e).val(students[pk].s.subject == 'physics' ? '1' : '2');
      }
    }
  });
*/

  disable_save();

});
</script>
{% endblock %}
