{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block title %}
Admissions database - {{ team.college.name }} schedule editor
{% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href='{% static "js/DataTables-1.10.2/media/css/jquery.dataTables.min.css" %}'>
<link rel="stylesheet" href='{% static "js/DataTables-1.10.2/extensions/ColVis/css/dataTables.colVis.min.css" %}'>
<link rel="stylesheet" href='{% static "js/DataTables-1.10.2/extensions/TableTools/css/dataTables.tableTools.min.css" %}'>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src='{% static "js/jquery-1.11.1.min.js" %}'></script>
<script src='{% static "js/DataTables-1.10.2/media/js/jquery.dataTables.min.js" %}'></script>
<script src='{% static "js/DataTables-1.10.2/extensions/ColVis/js/dataTables.colVis.min.js" %}'></script>
<script src='{% static "js/DataTables-1.10.2/extensions/TableTools/js/dataTables.tableTools.min.js" %}'></script>
<script src='{% static "js/jquery-cookie-1.4.1/jquery.cookie.js" %}'></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<style>
table#teamspec { font-size: 16px; text-align: left }

td.comments-detail {
  color: blue;
  cursor: pointer;
}

.comments { text-align: left }

input.change-duration { width: 3em }

input.change-start { width: 4em }

input.dpicker { width: 6em }

</style>
{% endblock %}
{% block content %}
<h2>Schedule editor for {{ team.college.name }} ({{ team.college.adss_code }})</h2>

<p>
<table id="teamspec" cellpadding="3">
<tr>
  <td>Team:</td>
  <td>{{ team.names }}</td>
</tr>
<tr>
  <td>Location:</td>
  <td>{{ team.location }}</td>
</tr>
<tr>
  <td>Notes:</td>
  <td>{{ team.notes }}</td>
</tr>
</table>
</p>

<p>
<table cellspacing="0" cellpadding="3" border="1">
<tr>
  <th>Selections</th>
  <th>Schedule Actions</th>
  <th>Candidate Actions</th>
</tr>
<tr>
  <td><button type='button' id='physicsbutton' onclick='set_physics()'>Physics interviews</button></td>
  <td><button type='button' id='clearbutton' onclick='clear_schedule()'>Clear schedule</button></td>
  <td><button type='button' id='rotatebutton' onclick='rotate_candidates_up()'>Rotate selected up</button</td>
</tr>
<tr>
  <td><button type='button' id='philosophybutton' onclick='set_philosophy()'>Philosophy interviews</button></td>
  <td><button type='button' id='clearbutton' onclick='clear_blanks()'>Clear inputs</button></td>
  <td><button type='button' id='rotatebutton' onclick='rotate_candidates_down()'>Rotate selected down</button</td>
</tr>
<tr>
  <td><button type='button' id='reversebutton' onclick='reverse_selection()'>Reverse selection</button></td>
  <td><button type='button' id='clearbutton' onclick='infer_blanks()'>Infer inputs</button></td>
  <td><button type='button' id='shufflebutton' onclick='shuffle_candidates()'>Shuffle selected</button</td>
</tr>
<tr>
  <td></td>
  <td><button type='button' id='recalcbutton'>Recalculate schedule</button></td>
  <td><button type='button' id='savebutton' class='statebutton' disabled=true>Save schedule</button></td>
</tr>
</table>
</p>

<p>To leave schedule unchanged, leave this page without saving.</p>

<p>
<table cellspacing="0" cellpadding="3" border="1">
<tr>
  <th>Schedule Defaults</th>
  <th>(minutes)</th>
</tr>
<tr>
  <td>Interview duration</td>
  <td><input type="number" name="interviewduration" style="width:5em"></td>
</tr>
<tr>
  <td>Break duration</td>
  <td><input type="number" name="breakduration" style="width:5em"></td>
</tr>
</table>
</p>

<p>
<table id="slots" class="display compact" cellspacing="0" cellpadding="0" width="100%">
<thead>
  <tr>
    <th></th>
    <th colspan="3" align="left">Change</th>
    <th colspan="2" align="left">Current schedule</th>
    <th colspan="7" align="left">Candidate</th>
    <th></th>
  </tr>
  <tr>
    <th><input type='checkbox' id='arsel' onchange='all_select()'></th>
    <th>Date</th>
    <th>Time</th>
    <th>Duration</th>
    <th>Start</th>
    <th>End</th>
    <th>Type</th>
    <th>Subject</th>
    <th>Course</th>
    <th>Col1</th>
    <th>Name</th>
    <th>Notes</th>
    <th>Other interviews</th>
    <th>Index</th>
  </tr>
</thead>
<tfoot>
  <tr>
    <th></th>
    <th>Date</th>
    <th>Time</th>
    <th>Duration</th>
    <th>Start</th>
    <th>End</th>
    <th>Type</th>
    <th>Subject</th>
    <th>Course</th>
    <th>Col1</th>
    <th>Name</th>
    <th>Notes</th>
    <th>Other interviews</th>
    <th>Index</th>
  </tr>
</tfoot>
</table>
</p>

<p>
<a href="{% url 'admissions:view_schedule' college_code=team.college.adss_code|lower %}">[Return to college interview schedule]</a>
</p>
{% endblock %}

{% block scripts %}
<script>
// template entries:  team, students, slots
var students = {};
{% for student in students %}
students[{{ student.pk }}] = {
  "n": "{{ student.info.surname }}, {{ student.info.forenames }}",
  "course": "{{ student.course_type }}",
  "col1": "{{ student.college1.adss_code }}",
  "other": [],
  "spec": "{{ student.info.has_special_needs }}",
  "dcode": "{{ student.info.disability_code }}",
  "dis": "{{ student.info.disability_notes }}",
  "comments": [],
};
{% endfor %}

{% for comment in comments %}
students[{{ comment.candidate.pk }}]['comments'].push(
    { "who": "{{ comment.commenter.username }}", "t": "{{ comment.text }}" })
{% endfor %}

{% for slot in slots %}
  {% if slot.team.pk == team.pk %}
students[{{ slot.candidate.pk }}]["s"] = {
    "subject": "{{ slot.subject }}",
    "mode": "{{ slot.mode }}",
    "datetime": {{ slot.time|date:"U" }},
    "duration": {{ slot.length }},
  };
  {% else %}
students[{{ slot.candidate.pk }}]["other"].push({
    "tpk": {{ slot.team.pk }},
    "tcol": "{{ slot.team.college.adss_code }}",
    "mode": "{{ slot.mode }}",
    "datetime": {{ slot.time|date:"U" }},
  });
  {% endif %}
{% endfor %}

var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];

var PKI = 13; // last column number

function twoDigit(n) {
  var s = (n < 10 ? "0" : "");
  return s + n;
}

function formatDate(d) {
  return twoDigit(d.getDate()) + " " + months[d.getMonth()];
}

function formatTime(d) {
  //return d.toLocaleTimeString();
  return twoDigit(d.getHours()) + ":" + twoDigit(d.getMinutes());
}

function format_comments(pk, jrow) {
  var s = [];
  var d = students[pk];
  var c = d.comments;
  s.push('<p><ul class="comments">');
  s.push("<li><b>UCAS disability information</b><br>(" + d.dcode + ") " + d.dis);
  for (var i = 0; i < c.length; ++i) {
    s.push("<li><b>" + c[i].who + "</b><br>" +
           c[i].t.replace('&#10;','<br>').replace('\n','<br>').replace('\r',''));
  }
  s.push('</ul></p>');
  return s.join('');
}

function all_select() {
  //console.log("all_select " + $('#arsel').prop('checked'));
  var value = $('#arsel').prop('checked');
  $('.rsel').prop('checked', value);
}

function reverse_selection() {
  $('.rsel').prop('checked', function(i, val) { return !val; });
}

function set_physics() {
  $('.isubjects').val("1"); // change all to physics interviews
  $('.imodes').val(function(i, old) { return old == "0" ? "L" : old }).change();
  $('.rsel').prop('checked', true);
  enable_save();
}

function set_philosophy() {
  $('.rsel').each(function(i, e) {
    var row = $(this).parents('tr');
    var course = row.children('.course-type').text();
    if (course == "P" || course == "Q") {
      $(this).prop('checked', true);
      $('.imodes', row).val(function(i, old) { return old == "0" ? "L" : old });
      $('.isubjects', row).val("2");
    } else {
      $(this).prop('checked', false);
      $('.imodes', row).val("0");
    }
  });
  enable_save();
}

function clear_schedule() {
  var checked = $('.rsel:checked').parents('tr');
  var tab = $('#slots').DataTable();
  rs = get_candidate_data(tab, checked);
  checked.each(function(i, e) {
    var r = tab.row(e);
    tab.cell(r, 4).data("");
    tab.cell(r, 5).data("");
  });
  map = [];
  for (var i = 0; i < checked.length; ++i) map.push(i);
  set_candidate_data(tab, checked, rs, map);
  enable_save();
}

function clear_blanks() {
  $('.rsel:checked').parents('tr')
                    .children('td')
                    .children('[type=text],[type=number]')
                    .val("");
}

function infer_blanks() {
}

function copy(o) {
   var out, v, key;
   out = Array.isArray(o) ? [] : {};
   for (key in o) {
       v = o[key];
       out[key] = (typeof v === "object") ? copy(v) : v;
   }
   return out;
}

function get_candidate_data(tab, rows) {
  rs = [];
  rows.each(function(i, e) {
    var r = tab.row(e);
    var data = r.data();
    var d = [];
    for (var ic = 8; ic <= PKI; ++ic) d[ic] = data[ic];
    d[0] = $('.rsel', e).prop('checked');
    d[1] = $('.dpicker', e).prop('value');
    d[PKI+1] = $('.change-start', e).prop('value');
    d[2] = $('.change-duration', e).prop('value');
    d[3] = $('.imodes', e).val();
    d[4] = $('.isubjects', e).val();
    d[5] = $('.dpicker', e).attr('id');
    rs[i] = d;
    //console.log("get candidate data for row " + i);
  });
  return rs;
}

function set_candidate_data(tab, rows, data, map) {
  rows.each(function(i, e) {
    var r = tab.row(e);
    for (var ic = 8; ic <= PKI; ++ic) tab.cell(r, ic).data(data[map[i]][ic]);
    $('.imodes', e).val(data[map[i]][3]);
    $('.isubjects', e).val(data[map[i]][4]);
    $('.rsel', e).prop('checked', data[i][0]);
    $('.dpicker', e).prop('value', data[i][1]);
    $('.change-start', e).prop('value', data[i][PKI+1]);
    $('.change-duration', e).prop('value', data[i][2]);
    $('#'+data[i][5]).datepicker();
  });
}

function rotate_candidates_up() {
  var checked = $('.rsel:checked').parents('tr');
  if (checked.length < 2) return;
  var tab = $('#slots').DataTable();
  rs = get_candidate_data(tab, checked);
  map = [];
  map[0] = checked.length - 1;
  for (var i = 0; i < checked.length - 1; ++i) map.push(i);
  set_candidate_data(tab, checked, rs, map);
}

function rotate_candidates_down() {
  var checked = $('.rsel:checked').parents('tr');
  if (checked.length < 2) return;
  var tab = $('#slots').DataTable();
  rs = get_candidate_data(tab, checked);
  map = [];
  for (var i = 1; i < checked.length; ++i) map.push(i);
  map[checked.length - 1] = 0;
  set_candidate_data(tab, checked, rs, map);
}

/**
 * Randomize array element order in-place.
 * Using Durstenfeld shuffle algorithm.
 * (from http://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array)
 */
function shuffleArray(array) {
  for (var i = array.length - 1; i > 0; i--) {
    var j = Math.floor(Math.random() * (i + 1));
    var temp = array[i];
    array[i] = array[j];
    array[j] = temp;
  }
  return array;
}

// problem:  shuffles among all.
function shuffle_candidates() {
  var checked = $('.rsel:checked').parents('tr');
  if (checked.length < 2) return;
  var tab = $('#slots').DataTable();
  rs = get_candidate_data(tab, checked);
  // shuffle
  map = [];
  for (var i = checked.length - 1; i >= 0; --i) map[i] = i;
  shuffleArray(map);
  set_candidate_data(tab, checked, rs, map);
}

//
// datepicker ui
//

$.datepicker.setDefaults({
  "dateFormat": "dd/mm/yy",
  "minDate": new Date(2015, 11, 1), // 1 Dec
  "maxDate": new Date(2015, 11, 17), // 17 Dec
});

function render_rselection(data, type, row, meta) {
  if (type = "display") {
    return '<input type="checkbox" class="rsel">';
  } else {
    return data;
  }
}

function render_change_date(data, type, row, meta) {
  if (type == "display") {
    return '<input id="datepicker' + meta.row + '" class="dpicker" type="text">';
  } else {
    return data;
  }
}

function render_change_start(data, type, row, meta) {
  if (type == "display") {
    return '<input type="text" class="change-start">';
  } else {
    return data;
  }
}

function render_change_duration(data, type, row, meta) {
  if (type == "display") {
    return '<input type="number" class="change-duration">';
  } else {
    return data;
  }
}

function render_start(data, type, row, meta) {
  if (type == "display" && data != "") {
    var a = new Date(data * 1000);
    return formatDate(a) + " " + formatTime(a);
  } else {
    return data;
  }
}

function render_end(data, type, row, meta) {
  if (type == "display" && data != "") {
    var a = new Date(data * 1000);
    return formatTime(a);
  } else {
    return data;
  }
}

function render_mode(data, type, row, meta) {
  if (type === "display") {
    var td = [];
    td.push('<select class="imodes" onchange="enable_save()"><option value="0"');
    if (data == "") td.push(' selected="selected"');
    td.push('>no interview</option><option value="L"');
    if (data == "L") td.push(' selected="selected"');
    td.push('>local</option><option value="R"');
    if (data == "R") td.push(' selected="selected"');
    td.push('>remote</option></select>');
    return td.join('');
  } else {
    return data;
  }
}

function render_subject(data, type, row, meta) {
  if (type === "display") {
    var td = [];
    td.push('<select class="isubjects" onchange="enable_save()"><option value="1"');
    if (data != "2") td.push(' selected="selected"');
    td.push('>physics</option><option value="2"');
    if (data == "2") td.push(' selected="selected"');
    td.push('>philosophy</option></select>');
    return td.join('');
  } else {
    return data;
  }
}

function enable_save() {
  $('.statebutton').removeAttr('disabled');
}

function disable_save() {
  $('.statebutton').attr('disabled','disabled');
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

var csrftoken = $.cookie('csrftoken');
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
//"csrfmiddlewaretoken" is a key in your posted data,for example,
//when you need to ajax login,your posted data may like this:
// {'username':'username','password':'password',
//  'csrfmiddlewaretoken':'CSRF-TOKEN-V‌​ALUE'} – 

var dataset = [];
$.each(students, function(pk, v) {
  var fields = [];
  fields[0] = ""; // row selector checkboxes
  fields[1] = ""; // start date selector
  fields[2] = ""; // start time selector
  fields[3] = ""; // duration selector
  fields[4] = ""; // empty start time
  fields[5] = ""; // empty end time
  fields[6] = ""; // mode / interview type
  fields[7] = ""; // subject of interview
  if (v['s'] != undefined) {
    var a = new Date(v.s.datetime * 1000);
    var b = new Date((v.s.datetime + v.s.duration*60) * 1000);
    fields[4] = v.s.datetime;
    fields[5] = v.s.datetime + v.s.duration*60;
    fields[6] = v.s.mode == 'local' ? 'L' : 'R'; // should be a selector
    fields[7] = v.s.subject == 'physics' ? '1' : '2'; // should be a selector
  }
  fields[8] = v.course;
  fields[9] = v.col1;
  fields[10] = v.n;
  fields[11] = v.dcode == 'A' && v.comments.length == 0 ? '' : 'notes'; // disability or notes
  // other interviews in v.other
  var s = [];
  for (var i = 0; i < v.other.length; ++i) {
    var u = v.other[i];
    var a = new Date(u.datetime * 1000);
    s.push((u.mode != "local" ? "("+u.mode+") " : " ") +
           u.tcol + " " + formatDate(a) + " " + formatTime(a));
  }
  fields[12] = s.join('; ');
  fields[13] = pk;
  //console.log(fields);
  dataset.push(fields);
});
//console.log(dataset);

$(document).ready(function() {

  // dom:  T for TableTools, and C... for ColVis
  var spec = {
    //dom: 'T<"clear">lfrtip', // add an R to use colReorder
    data: dataset,
    columns: [
      { name: "rselection", orderable: false, "render": render_rselection }, // row selection checkboxes
      { name: "changedate", orderable: false, "class": "datepickers", "render": render_change_date },
      { name: "changestart", orderable: false, "render": render_change_start },
      { name: "changeduration", orderable: false, "render": render_change_duration },
      { name: "start", "render": render_start },
      { name: "end", "render": render_end },
      { name: "mode", orderable: false, "class": "mode-selector c-data", "render": render_mode },
      { name: "subject", orderable: false, "class": "subject-selector c-data", "render": render_subject },
      { name: "course", "class": "course-type c-data" },
      { name: "col1", "class": "c-data" },
      { name: "name", "class": "c-data" },
      { name: "notes", "class": "comments-detail c-data" },
      { name: "other", "class": "c-data" },
      { name: "pk", "class": "pk-value c-data", visible: false },
    ],
    "pageLength": 50,
    "order": [ [ 4, "asc" ] ],
    "statesave": true,
    "tableTools": {
      "aButtons": [
        "copy",
        "csv",
        {
          "sExtends": "pdf",
          "sPdfOrientation": "portrait"
        },
        "print"
      ],
      "sSwfPath": '{% static "js/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf" %}'
    },
    "paging": false
  };
  table = $('#slots').DataTable(spec);

  $('#slots tbody').on('click', 'td.comments-detail', function() {
    var tr = $(this).closest('tr');
    var row = table.row(tr);
    if (row.child.isShown()) {
      row.child.hide();
      //tr.removeClass('shown-comments');
    } else {
      var child = row.child(format_comments(row.data()[PKI], row.index()) );
      child.show();
      //tr.addClass('shown-comments');
    }
  });
  //.on('click', 'tr', function() {
  //  $(this).toggleClass('selected');
    // clicking on anything in the row flips the class
    // (and whatever the class name is).
    // This introduces some weird behavior, but at least
    // the visual style of a selected row does reflect the selection state.
  //});

  // start date is set here.  Rotation/shuffle changes from start date
  // to value, which is a change in behavior.
  table.$('.datepickers').each(function(i) {
    var nm = "#datepicker" + i;
    $(nm).datepicker();
  });

/*
  // insert initial changeable states
  table.$('.mode-selector').each(function(i, e) {
    var tr = $(e).closest('tr');
    var row = table.row(tr);
    var pk = row.data()[12];
    //console.log("Candidate " + pk + " mode " + students[pk].s.mode);
    if (students[pk] == undefined) {
      $("select", e).val('0');
      //console.log("no such pk");
    } else {
      if ('s' in students[pk]) {
        $("select", e).val(students[pk].s.mode == 'local' ? 'L' : 'R');
      } else {
        //console.log("no interview");
      }
    }
  });
*/

/*
  table.$('.subject-selector').each(function(i, e) {
    var tr = $(e).closest('tr');
    var row = table.row(tr);
    var pk = row.data()[12];
    if (students[pk] == undefined) {
      $("select", e).val('1');
    } else {
      if ('s' in students[pk]) {
        $("select", e).val(students[pk].s.subject == 'physics' ? '1' : '2');
      }
    }
  });
*/

  disable_save();

});
</script>
{% endblock %}
