<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load url from future %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>
Interview Schedule
</title>
</head>
<body>

<h2>{{ team.college.name }}</h2>

<p>
Location:  {{ team.location }}
</p>

<p>
{{ team.notes }}
</p>

<p>
<table border="1">
<thead>
<tr><th>Time</th><th>Candidate name</th></tr>
</thead>
<tbody>
{% for slot in slots %}
  <tr>
  <td>{{ slot.time }}</td>
  <td>{{ slot.candidate.info.surname }}, {{ slot.candidate.info.forenames }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
</p>

</body>
</html>
