{% extends "base.html" %}
{% load url from future %}
{% block title %}
Admissions database - view college {{ college.name }} ({{ college.adss_code }})
{% endblock %}
{% block head %}
<style>
table { font-size: 16px; }
</style>
{% endblock %}
{% block content %}
<h2>College: {{ college.name }} ({{ college.adss_code }})</h2>
<p>Note that the total should be the number of places, including PhysPhil places,
the College intends to offer for the next academic year.  It does not include
offers for deferred entry, nor does it include supernumerary offers which the
College in the end may make.</p>
    <table border="0">
    <tr><td align="right">Total places:</td><td>{{ college.total_places }}</td></tr>
    <tr><td align="right">PhysPhil places:</td><td>{{ college.physphil_places }}</td></tr>
    </table>
<p><a href="mailto:{{ tutormail }}">Admissions tutors:  {{ tutornames }}</a></p>
{% endblock %}
