{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block title %}
Admissions database - {{ college.name }} schedule
{% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href='{% static "js/DataTables-1.10.2/media/css/jquery.dataTables.min.css" %}'>
<link rel="stylesheet" href='{% static "js/DataTables-1.10.2/extensions/ColVis/css/dataTables.colVis.min.css" %}'>
<link rel="stylesheet" href='{% static "js/DataTables-1.10.2/extensions/TableTools/css/dataTables.tableTools.min.css" %}'>
<script src='{% static "js/jquery-1.11.1.min.js" %}'></script>
<script src='{% static "js/DataTables-1.10.2/media/js/jquery.dataTables.min.js" %}'></script>
<script src='{% static "js/DataTables-1.10.2/extensions/ColVis/js/dataTables.colVis.min.js" %}'></script>
<script src='{% static "js/DataTables-1.10.2/extensions/TableTools/js/dataTables.tableTools.min.js" %}'></script>
<script src='{% static "js/jquery-cookie-1.4.1/jquery.cookie.js" %}'></script>
{% endblock %}
{% block content %}
<h2>Interviews for {{ college.name }} ({{ college.adss_code }})</h2>

{% if allow_edit %}
<p>Click on team names to edit schedule.</p>
{% endif %}

<p>
<table id="slots" class="display compact" cellspacing="0" cellpadding="0" width="100%">
<thead>
  <tr>
    <th></th>
    {% for team in teams %}
    <th colspan="5" valign="top" align="left">
      {% if allow_edit %}
      <a href="{% url 'admissions:edit_schedule' team_pk=team.pk %}">{{ team.names }}</a>
      {% else %}
      {{ team.names }}
      {% endif %}
    </th>
    {% endfor %}
    <th></th>
  </tr>
  <tr>
    <th>Candidate</th>
    {% for team in teams %}
    <th>Subject</th>
    <th>Mode</th>
    <th>Date</th>
    <th>Start</th>
    <th>End time</th>
    {% endfor %}
    <th>Other interviews</th>
  </tr>
</thead>
<tfoot>
  <tr>
    <th>Candidate</th>
    {% for team in teams %}
    <th>Subject</th>
    <th>Mode</th>
    <th>Date</th>
    <th>Start</th>
    <th>End time</th>
    {% endfor %}
    <th>Other interviews</th>
  </tr>
</tfoot>
</table>
</p>
{% endblock %}

{% block scripts %}
<script>
var teams = [];
{% for team in teams %}
teams.push({{ team.pk }});
{% endfor %}
var teamspk2i = {};
$.each(teams, function(index, value) {
  teamspk2i[value] = index;
});

var students = {};
{% for student in students %}
students[{{ student.pk }}] = { "n": "{{ student.info.surname }}, {{ student.info.forenames }}", "s": [] };
{% endfor %}

{% for slot in slots %}
students[{{ slot.candidate.pk }}]["s"].push({
    "tpk": {{ slot.team.pk }},
    "tcol": "{{ slot.team.college.adss_code }}",
    "subject": "{{ slot.subject }}",
    "mode": "{{ slot.mode }}",
    "datetime": {{ slot.time|date:"U" }},
    "duration": {{ slot.length }},
  });
{% endfor %}

var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];

function formatDate(d) {
  var da = d.getDate();
  var s = da < 10 ? "0" : "";
  s += da;
  s += " " + months[d.getMonth()];
  return s;
}

function formatTime(d) {
  return d.toLocaleTimeString();
  //var hour = a.getHours();
  //var min = a.getMinutes();
  //var sec = a.getSeconds();
}

var dataset = [];
$.each(students, function(pk, v) {
  var fields = [];
  var last = 1+5*teams.length; // last element of array of length 2+5*j
  for (var i = last; i > 0; --i) fields[i] = ""; // pre-initialize array
  fields[0] = v.n;
  $.each(v.s, function(i, u) {
    var tpk = u.tpk;
    for (var j = 0; j < teams.length; ++j) {
      if (teams[j] == tpk) {
        var a = new Date(u.datetime * 1000);
        var b = new Date((u.datetime + u.duration*60) * 1000);
        //console.log("start " + a + " end " + b);
        var jj = j * 5;
        fields[++jj] = u.subject;
        fields[++jj] = u.mode;
        fields[++jj] = formatDate(a);
        fields[++jj] = formatTime(a);
        fields[++jj] = formatTime(b);
        return true;
      }
    }
    // not one of the college teams, so append to other interviews
    if (fields[last].length > 0) fields[last] += ', ';
    var a = new Date(u.datetime * 1000);
    fields[last] += u.tcol + " " + formatDate(a) + " " + formatTime(a);
  });
  dataset.push(fields);
});

//console.log(dataset);

$(document).ready(function() {

  var spec = {
    data: dataset,
    columns: [
      { name: "name" },
    ]
  };
  for (var i = 0; i < teams.length; ++i) {
    spec.columns.push({ name: "subject" + i });
    spec.columns.push({ name: "mode" + i });
    spec.columns.push({ name: "date" + i });
    spec.columns.push({ name: "time" + i });
    spec.columns.push({ name: "end" + i });
  }
  spec.columns.push({ name: "other" });
  //console.log(spec);
  $('#slots').DataTable(spec);

});

</script>
{% endblock %}
