{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block title %}
Admissions database - {{ college.name }} schedule
{% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href='{% static "js/DataTables-1.10.2/media/css/jquery.dataTables.min.css" %}'>
<link rel="stylesheet" href='{% static "js/DataTables-1.10.2/extensions/ColVis/css/dataTables.colVis.min.css" %}'>
<link rel="stylesheet" href='{% static "js/DataTables-1.10.2/extensions/TableTools/css/dataTables.tableTools.min.css" %}'>
<script src='{% static "js/jquery-1.11.1.min.js" %}'></script>
<script src='{% static "js/DataTables-1.10.2/media/js/jquery.dataTables.min.js" %}'></script>
<script src='{% static "js/DataTables-1.10.2/extensions/ColVis/js/dataTables.colVis.min.js" %}'></script>
<script src='{% static "js/DataTables-1.10.2/extensions/TableTools/js/dataTables.tableTools.min.js" %}'></script>
<script src='{% static "js/jquery-cookie-1.4.1/jquery.cookie.js" %}'></script>
<style>

.clash { color: red }

</style>
{% endblock %}
{% block content %}
<h2>Interviews for {{ college.name }} ({{ college.adss_code }})</h2>

<p>
<table id="slots" class="display compact" cellspacing="0" cellpadding="0" width="100%">
<thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    {% for team in teams %}
    <th colspan="4" valign="top" align="left">
      <a href="{% url 'admissions:view_team_schedule' team_pk=team.pk %}" target='_blank'>{{ team.names }}</a>
      {% if allow_edit %}
      <a href="{% url 'admissions:edit_schedule' team_pk=team.pk %}">(Edit)</a>
      {% endif %}
    </th>
    {% endfor %}
    <th></th>
  </tr>
  <tr>
    <th>Candidate</th>
    <th>Order</th>
    <th>Col1</th>
    {% for team in teams %}
    <th>Subject</th>
    <th>Mode</th>
    <th>Start</th>
    <th>End</th>
    {% endfor %}
    <th>Other interviews</th>
  </tr>
</thead>
<tfoot>
  <tr>
    <th>Candidate</th>
    <th>Order</th>
    <th>Col1</th>
    {% for team in teams %}
    <th>Subject</th>
    <th>Mode</th>
    <th>Start</th>
    <th>End</th>
    {% endfor %}
    <th>Other interviews</th>
  </tr>
</tfoot>
</table>
</p>
{% endblock %}

{% block scripts %}
<script>
var teams = [];
var tslots = {};
{% for team in teams %}
teams.push({{ team.pk }});
tslots[{{ team.pk }}] = [];
{% endfor %}
var teamspk2i = {};
$.each(teams, function(index, value) {
  teamspk2i[value] = index;
});

var students = {};
{% for student in students %}
students[{{ student.pk }}] = {
  "n": "{{ student.info.surname }}, {{ student.info.forenames }}",
  "c": "{{ student.college1.adss_code }}",
  "s": []
};
{% endfor %}

{% for slot in slots %}
students[{{ slot.candidate.pk }}]["s"].push({
    "tpk": {{ slot.team.pk }},
    "tcol": "{{ slot.team.college.adss_code }}",
    "subject": "{{ slot.subject }}",
    "mode": "{{ slot.mode }}",
    "datetime": {{ slot.time|date:"U" }},
    "duration": {{ slot.length }},
});
{% endfor %}

var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];

function twoDigit(n) {
  var s = (n < 10 ? "0" : "");
  return s + n;
}

function formatDate(d) {
  return twoDigit(d.getDate()) + " " + months[d.getMonth()];
}

function formatTime(d) {
  //return d.toLocaleTimeString();
  return twoDigit(d.getHours()) + ":" + twoDigit(d.getMinutes());
}

function is_clash(a, b, pad) {
  var t0 = b.datetime - pad * 60;
  var t1 = b.datetime + (b.duration + pad) * 60;
  var u0 = a.datetime;
  var u1 = a.datetime + a.duration * 60;
  if (u1 <= t0) return false;
  if (u0 >= t1) return false;
  return true;
}

function any_clash(bs, pad) {
  for (var i = 0; i < bs.length; ++i) {
    for (var j = i + 1; j < bs.length; ++j) {
      if (is_clash(bs[i], bs[j], pad)) return true;
    }
  }
  return false;
}

// detect any clashes within a team schedule (only direct overlaps)
$.each(students, function(pk, v) {
  if (v.s.tpk in teams) {
    tslots[v.s.tpk].push({
      "datetime": v.s.datetime,
      "duration": v.s.duration
    });
  }
});
var tclash = {};
$.each(tslots, function(pk, v) {
  tclash[pk] = any_clash(v, 0);
});

var dataset = [];
$.each(students, function(pk, v) {
  var fields = [];
  var last = 3+4*teams.length; // last element of array of length 2+5*j
  for (var i = last; i > 0; --i) fields[i] = ""; // pre-initialize array
  var nm = "<a href=\"{% url 'admissions:view_candidate_schedule' candidate_pk=999999 %}\" target='_blank'>" + v.n + "</a>";
  fields[0] = nm.replace(/999999/g,"" + pk);
  fields[1] = (v.c == "{{ college.adss_code }}") ? 1 : 2;
  var prefix = "<span class='clash'>";
  var postfix = "</span>";
  var rowclash = any_clash(v.s, 20); // 20min padding
  fields[2] = rowclash ? prefix + v.c + postfix : v.c;
  $.each(v.s, function(i, u) {
    var tpk = u.tpk;
    for (var j = 0; j < teams.length; ++j) {
      if (teams[j] == tpk) {
        var a = new Date(u.datetime * 1000);
        var b = new Date((u.datetime + u.duration*60) * 1000);
        //console.log("start " + a + " end " + b);
        var jj = j * 4 + 2;
        var spre = (rowclash || tclash[tpk]) ? prefix : "";
        var spost = (rowclash || tclash[tpk]) ? postfix : "";
        fields[++jj] = spre + u.subject + spost;
        fields[++jj] = spre + u.mode + spost;
        fields[++jj] = spre + formatDate(a) + " " + formatTime(a) + spost;
        fields[++jj] = spre + formatTime(b) + spost;
        return true;
      }
    }
    // not one of the college teams, so append to other interviews
    if (fields[last].length > 0) fields[last] += ', ';
    var a = new Date(u.datetime * 1000);
    fields[last] += u.tcol + " " + formatDate(a) + " " + formatTime(a);
  });
  dataset.push(fields);
});

//console.log(dataset);

$(document).ready(function() {

  var spec = {
    dom: 'TC<"clear">lfrtip', // add an R to use colReorder
    data: dataset,
    columns: [
      { name: "name" },
      { name: "order" },
      { name: "college1" },
    ],
    "order": [ [ 1, "asc" ], [ 0, "asc" ] ],
    "statesave": true,
    "tableTools": {
      "aButtons": [
        "copy",
        "csv",
        {
          "sExtends": "pdf",
          "sPdfOrientation": "portrait"
        },
        "print"
      ],
      "sSwfPath": '{% static "js/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf" %}'
    }
  };
  for (var i = 0; i < teams.length; ++i) {
    spec.columns.push({ name: "subject" + i });
    spec.columns.push({ name: "mode" + i });
    spec.columns.push({ name: "time" + i });
    spec.columns.push({ name: "end" + i });
  }
  spec.columns.push({ name: "other" });
  //console.log(spec);
  $('#slots').DataTable(spec);

});

</script>
{% endblock %}
