{% extends "base.html" %}
{% load url from future %}
{% block title %}
Admissions database - decisions for {{ college.name }} ({{ college.adss_code }})
{% endblock %}
{% block head %}
<style>
table { font-size: 16px; }
</style>
{% endblock %}
{% block content %}
<h2>Decisions report:  {{ college.name }} ({{ college.adss_code }})</h2>

<h3>Candidates withdrawn</h3>

<p>
<table border='1'>
<tr><th><b>UCAS id</b></th><th><b>Surname</b></th><th><b>Forenames</b></th></tr>
{% for candidate in withdrawn %}
  <tr>
    <td>{{ candidate.ucas_id }}</td>
    <td>{{ candidate.info.surname }}</td>
    <td>{{ candidate.info.forenames }}</td>
  </tr>
{% endfor %}
</table>
</p>

<h3>Desummoned candidates</h3>

<p>
<table border='1'>
<tr><th><b>UCAS id</b></th><th><b>Surname</b></th><th><b>Forenames</b></th></tr>
{% for candidate in desummoned %}
  <tr>
    <td>{{ candidate.ucas_id }}</td>
    <td>{{ candidate.info.surname }}</td>
    <td>{{ candidate.info.forenames }}</td>
  </tr>
{% endfor %}
</table>
</p>

<h3>Summoned candidates</h3>

<p>
<table border='1'>
<tr><th><b>UCAS id</b></th><th><b>Surname</b></th><th><b>Forenames</b></th><th><b>Reallocated from</b></th></tr>
{% for candidate in summoned %}
  <tr>
    <td>{{ candidate.ucas_id }}</td>
    <td>{{ candidate.info.surname }}</td>
    <td>{{ candidate.info.forenames }}</td>
    <td>
      {% if candidate.college1 != candidate.college_selected %}
      {{ candidate.college_selected.adss_code }}
      {% endif %}
    </td>
  </tr>
{% endfor %}
</table>
</p>

<h3>Offers</h3>

<p>
<table border='1'>
<tr><th><b>UCAS id</b></th><th><b>Surname</b></th><th><b>Forenames</b></th>
    <th><b>Course</b></th><th><b>Deferred</b></th><th><b>Open offer</b></th></tr>
{% for offer in offers %}
  <tr>
    <td>{{ offer.candidate.ucas_id }}</td>
    <td>{{ offer.candidate.info.surname }}</td>
    <td>{{ offer.candidate.info.forenames }}</td>
    <td>{% if offer.course_type == "3" %}BA
        {% elif offer.course_type == "4" %}MPhys
        {% else %}MPhysPhil
        {% endif %}
    <td>{{ offer.deferred_entry }}</td>
    <td>{{ offer.underwritten }}</td>
  </tr>
{% endfor %}
</table>
</p>

<p>
Course codes:
<ul>
<li> 3:  Physics BA
<li> 4:  Physics MPhys
<li> P:  Physics and Philosophy
</ul>
</p>

{% endblock %}
