{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block title %}
Admissions database - {{ college.name }} schedule
{% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href='{% static "js/DataTables-1.10.2/media/css/jquery.dataTables.min.css" %}'>
<link rel="stylesheet" href='{% static "js/DataTables-1.10.2/extensions/ColVis/css/dataTables.colVis.min.css" %}'>
<link rel="stylesheet" href='{% static "js/DataTables-1.10.2/extensions/TableTools/css/dataTables.tableTools.min.css" %}'>
<script src='{% static "js/jquery-1.11.1.min.js" %}'></script>
<script src='{% static "js/DataTables-1.10.2/media/js/jquery.dataTables.min.js" %}'></script>
<script src='{% static "js/DataTables-1.10.2/extensions/ColVis/js/dataTables.colVis.min.js" %}'></script>
<script src='{% static "js/DataTables-1.10.2/extensions/TableTools/js/dataTables.tableTools.min.js" %}'></script>
<script src='{% static "js/jquery-cookie-1.4.1/jquery.cookie.js" %}'></script>
{% endblock %}
{% block content %}
<h2>Interviews for {{ college.name }} ({{ college.adss_code }})</h2>

<table id="slots" class="display compact" cellspacing="0" cellpadding="0" width="100%">
<thead>
  <tr>
    <th></th>
    {% for team in teams %}
    <th colspan="5" valign="top">{{ team.names }}</th>
    {% endfor %}
    <th></th>
  </tr>
  <tr>
    <th>Candidate</th>
    {% for team in teams %}
    <th>Subject</th>
    <th>Mode</th>
    <th>Date</th>
    <th>Start</th>
    <th>End time</th>
    {% endfor %}
    <th>Other interviews</th>
  </tr>
</thead>
<tfoot>
  <tr>
    <th>Candidate</th>
    {% for team in teams %}
    <th>Subject</th>
    <th>Mode</th>
    <th>Date</th>
    <th>Start</th>
    <th>End time</th>
    {% endfor %}
    <th>Other interviews</th>
  </tr>
</tfoot>
<tbody>
</tbody>
{% endblock %}
{% block scripts %}
<script>
var teams = [
  {% for team in teams %}
  {
    "pk": "{{ team.pk }}",
  },
  {% endfor %}
];
var teamspk2i = {};
$.each(teams, function(index, value) {
  teamspk2i[value.pk] = index;
});

var students = {};
{% for student in students %}
students[{{ student.pk }}] = { "n": "{{ student.info.surname }}, {{ student.info.forenames }}", "s": [] };
{% endfor %}

{% for slot in slots %}
students[{{ slot.candidate.pk }}]["s"].push({
    "tpk": "{{ slot.team.pk }}",
    "tcol": "{{ slot.team.college.adss_code }}",
    "subject": "{{ slot.subject }}",
    "mode": "{{ slot.mode }}",
    "datetime": '{{ slot.time|date:U }}',
    "length": "{{ slot.length }}",
  });
{% endfor %}

var dataset = [];
$.each(students, function(i, v) {
  var fields = [];
  fields.push(v.n);
  $.each(v.s, function(j, u) {
    
  });
});

$(document).ready(function() {

  var spec = {
    data: dataset,
    columns: [
      { title: "name" },
    ]
  };

  $('#slots').DataTable(spec);

});



function timeConverter(UNIX_timestamp){
  var a = new Date(UNIX_timestamp * 1000);
  var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
  var year = a.getFullYear();
  var month = months[a.getMonth()];
  var date = a.getDate();
  var hour = a.getHours();
  var min = a.getMinutes();
  var sec = a.getSeconds();
  var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
  return time;
}

</script>
{% endblock %}
