{% extends "base.html" %}
{% load url from future %}
{% block title %}
Interview Schedule
{% endblock %}
{% block content %}

<h2>{{ team.college.name }}</h2>

<p>
Location:  {{ team.location }}
</p>

<p>
{{ team.notes }}
</p>

<p>
<table border="1">
<thead>
<tr><th>Time</th><th>Candidate name</th></tr>
</thead>
<tbody>
{% for slot in slots %}
  <tr>
  <td>{{ slot.time }}</td>
  <td>{{ slot.candidate.info.surname }}, {{ slot.candidate.info.forenames }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
</p>

{% endblock %}
