<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load url from future %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>
Interview Schedule:  {{ info.surname }}, {{ info.forenames }}
</title>
</head>
<body>

<h2>Interview schedule for {{ info.surname }}, {{ info.forenames }} ({{ candidate.ucas_id }})</h2>

<p>
<ul>
{% for slot in slots %}
<li> <b>{{ slot.time }}</b>
  <ul>
  <li> {{ slot.team.college.name }}  ({{ slot.team.location }})
  <li> Subject:  {{ slot.subject }}
  <li> Interviewers:  {{ slot.team.names }}<br>
       {{ slot.team.notes }}
  </ul>
{% empty %}
<li> No interviews defined
{% endfor %}
</ul>
</p>

</body>
</html>
