<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load url from future %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>
Interview Schedule
</title>
<style>
h2 { text-align: center; }
h3 { text-align: center; }
p.centered { text-align: center; }
table.tcentered {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid black;
}
td, th { padding: 5px; }
</style>
</head>
<body>

<h2>{{ team.college.name }}</h2>

<h3>{{ team.names }}</h3>

<p class="centered">
Location:  {{ team.location }}
</p>

<p class="centered">
{{ team.notes }}
</p>

<p class="centered">
<table border="1" class="tcentered">
<thead>
<tr><th>Time</th><th>Candidate name</th></tr>
</thead>
<tbody>
{% for slot in slots %}
  <tr>
  <td>{{ slot.time|date:"D d M H:i" }}</td>
  <td>{{ slot.candidate.info.surname }}, {{ slot.candidate.info.forenames }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
</p>

</body>
</html>
